<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name"><strong style="font-size: 16px;">enter name:</strong></label><br>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div><br><p></p>

    <label for="lastName"><strong style="font-size: 16px;">enter last_name:</strong></label><br>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div><br><p></p>

    <label for="age"><strong style="font-size: 16px;">enter age:</strong></label><br>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div><br><p></p>

    <input type="submit" value="create">
</form>

</body>
</html>